@import url("https://use.typekit.net/sif5fhl.css");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@300;400;500;600&display=swap");
html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.site-bg {
  display: block;
  position: relative;
}

.site-bg::after {
  content: "";
  background: url("../assets/images/brick-bg-sm.jpg");
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -100;
}

.btn-ordering, .btn-footer, .btn-cards {
  display: inline-block;
  font: 700 1.6rem "mostra-nuova", "Monserrat", sans-serif;
  text-transform: uppercase;
  padding: 1rem;
  border: 2px solid #00954c;
  background: none;
  color: #ffcf01;
  width: 11rem;
  border-radius: 0.25rem;
}

.btn-ordering:hover, .btn-footer:hover, .btn-cards:hover {
  background: #f36c21;
  color: #ffcf01;
  text-decoration: none;
}

.btn-ordering {
  border-color: #ffcf01;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem;
}

.btn-ordering.order-menu-pg {
  border-color: #7f1b19;
  color: #412312;
}

.btn-ordering.order-menu-pg:hover {
  color: #ffcf01;
}

.btn-footer {
  font-size: 1.7rem;
  width: 12rem;
}

.btn-cards {
  text-align: center;
  color: #412312;
  padding: 0.75rem 1rem;
  margin-top: 1rem;
}

/*navigation mobile-first*/
.navbar {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  background: #edebda;
  border-top: 1px solid #412312;
}

.logo-desktop {
  width: 100px;
}

.nav-text-custom {
  font-size: 14px;
}

.icon-size-custom {
  font-size: 30px;
}

.nav-link {
  color: #412312;
}

.nav-link:hover {
  color: #f36c21;
  z-index: 1000;
}

.svg-link-fix {
  pointer-events: none;
}

.active-custom {
  color: #00954c;
}

/* jumbotro customization */
.logo-desktop, .logo-mobile {
  width: 75px;
  padding: 0;
  margin: 0;
}

.logo-mobile {
  margin: -1rem 0 0 0;
}

.jumbotron-header-logo {
  z-index: 1000;
  height: 100px;
  width: 100%;
  padding: 18px;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

.tron-logo-active {
  position: fixed;
  background: #edebda;
  top: 0;
  left: 0;
}

.logo-move {
  position: absolute;
  -webkit-transform: translate(calc((100vw / 2) - 5.5rem), 0);
          transform: translate(calc((100vw / 2) - 5.5rem), 0);
}

.logo-transition {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.jumbotron {
  color: #edebda;
  background-image: url("../assets/images/fresh-tomatoes-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 600px;
}

@media (min-width: 576px) {
  .jumbotron {
    background-image: url("../assets/images/vegetables-hero-desktop.jpg");
    margin: 10rem 0 0 0;
  }
}

.jumbotron.tron-about {
  background-image: url("../assets/images/green-peas-about-hero.jpg");
}

.jumbotron.tron-menu {
  background-image: url("../assets/images/krinkled-paper-bg-menu-pg.jpg");
}

@media (min-width: 576px) {
  .container-cta-btn {
    margin-left: 12rem;
  }
}

@media (min-width: 768px) {
  .container-cta-btn {
    margin-left: 21rem;
  }
}

@media (min-width: 992px) {
  .container-cta-btn {
    margin-left: 33rem;
  }
}

@media (min-width: 1200px) {
  .container-cta-btn {
    margin-left: 42rem;
  }
}

h1 {
  font-family: "mostra-nuova", "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 3rem;
  color: #f36c21;
}

@media (min-width: 576px) {
  h1 {
    margin-top: 10rem;
    font-size: 4rem;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 4.5rem;
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 6rem;
  }
}

h1.about-h1 {
  margin: 10rem 0 0 0;
  font-size: 5rem;
  color: #412312;
}

h1.menu-h1 {
  margin: 0;
  color: #7f1b19;
}

/* sections and cards */
.welcome, .about, .food-menu, .card, .about-section {
  -webkit-box-shadow: 5px 5px 15px 5px #495057;
          box-shadow: 5px 5px 15px 5px #495057;
}

.welcome, .about, .food-menu {
  background: #edebda;
  padding: 1rem 3rem 3rem 3rem;
  margin: 5rem 0 5rem 0;
}

.welcome h2, .about h2, .food-menu h2 {
  text-align: center;
  font: bold 4.1rem "mostra-nuova", "Montserrat", sans-serif;
  color: #7f1b19;
  margin-bottom: 1.5rem;
}

.welcome h2::before, .about h2::before, .food-menu h2::before {
  content: "Welcome";
  text-transform: none;
  letter-spacing: 0.1rem;
  display: block;
  color: rgba(0, 149, 76, 0.15);
  font: 400 7rem "Kaushan Script", cursive;
  margin: 0 0 -5rem -1.25rem;
}

.welcome p, .about p, .food-menu p {
  color: #412312;
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
}

.welcome p span, .about p span, .food-menu p span {
  color: #00954c;
}

.card {
  border: none;
  background-color: #edebda;
}

.card-body {
  padding: 2rem;
}

.card-body h3 {
  font: 400 2.5rem "mostra-nuova", "Montserrat", sans-serif;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.card-body p {
  font: 500 1.6rem "montserrat", sans-serif;
  letter-spacing: 0.15rem;
  line-height: 1.5;
  color: #412312;
}

.title-card-1 {
  color: #00954c;
}

.title-card-2 {
  color: #7f1b19;
}

.title-card-3 {
  color: #f36c21;
}

.title-card-4 {
  color: #e81e26;
}

/* about page individual sections */
.about {
  margin: 0;
  min-height: 340px;
}

.about h2::before {
  content: "About Us";
}

.about-section {
  padding: 3rem;
  background-color: #edebda;
  color: #412312;
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
  min-height: 340px;
}

blockquote {
  border: none;
  font-family: "mostra-nuova", "monserrat", sans-serif;
  letter-spacing: 0.7rem;
  color: #412312;
  margin: 8rem 0;
}

blockquote h3 {
  font-size: 4rem;
  font-weight: 700;
}

blockquote h3::before {
  content: open-quote;
  font: 700 25rem "monserrat", sans-serif;
  color: rgba(127, 27, 25, 0.5);
  position: absolute;
  top: 2rem;
  left: -2rem;
  z-index: -1;
}

blockquote h3::after {
  content: close-quote;
  font: 700 25rem "monserrat", sans-serif;
  color: rgba(127, 27, 25, 0.5);
  position: absolute;
  bottom: 0rem;
  right: -2rem;
  z-index: -1;
}

blockquote span {
  font: 3rem "Kaushan Script", cursive;
}

/*menu page formatting*/
.break {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 0;
}

.food-menu {
  max-width: 35rem;
}

.food-menu h2::before {
  content: "Our Food";
}

.food-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.5rem;
  color: #f36c21;
}

.food-menu ul li {
  margin: 0 0 1rem 2rem;
}

.beet-accent {
  max-width: 400px;
}

@media (min-width: 768px) {
  .beet-accent {
    margin-top: -3rem;
  }
}

/*social media icons*/
.social {
  padding: 0;
  margin-top: 0.5rem;
}

.social a {
  font-size: 3.5rem;
  color: #edebda;
  padding: 0;
  text-decoration: none;
}

.social a:hover {
  color: #ffcf01;
}

.social li {
  display: inline-block;
  color: #edebda;
  margin: 0 5px 0 0;
}

/*footer customization*/
footer {
  background: #412312;
  height: auto;
  padding: 10px 0 30px 0;
  width: 100%;
}

footer p {
  letter-spacing: 0.1rem;
  font-size: 1.6rem;
  color: #edebda;
}

footer a {
  color: #edebda;
}

footer a:hover {
  text-decoration: none;
  color: #00954c;
}

.footer-brand {
  font-family: "mostra-nuova", "montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 3.5rem;
  color: #00954c;
}

.nav-footer {
  letter-spacing: 0.1rem;
}

.nav-footer ul {
  list-style: none;
  padding: 0;
}

.nav-footer li {
  display: block;
  text-transform: uppercase;
  font-size: 1.6rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.footer-bottom {
  margin: 2rem 0 5rem 0;
  border-top: 1px solid #edebda;
  padding-top: 2.5rem;
  padding-bottom: 10px;
  color: #edebda;
}
/*# sourceMappingURL=main.css.map */