@import url("https://use.typekit.net/sif5fhl.css");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@300;400;500;600&display=swap");

@import "../bootstrap/functions";
@import "../bootstrap/variables";
@import "../bootstrap/mixins";

html {
  font-size: 62.5%;
}
body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.site-bg {
  display: block;
  position: relative;

  &::after {
    content: "";
    background: url("../assets/images/gray-brick-bg.jpg");
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
  }
}
%button-default {
  display: inline-block;
  font: 700 1.5rem "mostra-nuova", "Monserrat", sans-serif;
  text-transform: uppercase;
  padding: 0.5rem;
  border: 1px solid #00954c;
  background: none;
  color: #ffcf01;
  width: 10rem;
  border-radius: 0.25rem;
  &:hover {
    background: #f36c21;
    color: #ffcf01;
    text-decoration: none;
  }
}

.btn-footer {
  @extend %button-default;
}

.btn-cards {
  @extend %button-default;
  text-align: center;
  color: #412312;
  padding: 0.75rem 1rem;
}

/*navigation mobile-first*/
main {
  margin-top: 10%;
}

.navbar {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  background: #edebda;
  border-top: 1px solid #412312;
}

.nav-text-custom {
  font-size: 14px;
}

.icon-size-custom {
  font-size: 30px;
}

.nav-link {
  color: #412312;
  &:hover {
    color: #f36c21;
  }
}

.active-custom {
  color: #00954c;
}

/* jumbotro customization */
.jumbotron {
  color: white;
  background-image: url("../assets/images/fresh-tomatoes-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

h1 {
  font-family: "mostra-nuova", "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: #f36c21;
}

/* sections and cards */
.welcome {
  background: #edebda;
  padding: 1.5rem;

  h2 {
    text-align: center;
    font: bold 2rem "mostra-nuova", "Montserrat", sans-serif;
    color: green;
  }
}

.card {
  border: none;
  background-color: #edebda;
}

/*social media icons*/
.social {
  padding: 0;

  a {
    font-size: 2rem;
    color: #edebda;
    padding: 0;
    text-decoration: none;
    &:hover {
      color: #ffcf01;
    }
  }
  li {
    display: inline-block;
    color: #fff;
    margin: 0 5px 0 0;
  }
}

/*footer customization*/
footer {
  background: #412413;
  height: auto;
  padding: 10px 0 30px 0;
  width: 100%;
}

.footer-brand {
  font-family: "mostra-nuova", "montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 2.75rem;
  color: rgba(0, 149, 76, 1);
}

.nav-footer {
  letter-spacing: 0.1rem;
  a {
    color: #edebda;
    &:hover {
      text-decoration: none;
      color: #00954c;
    }
  }
  ul {
    list-style: none;
    padding: 0;
  }
  li {
    display: block;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

.footer-bottom {
  margin: 2rem 0 5rem 0;
  border-top: 1px solid #edebda;
  padding-top: 2.5rem;
  padding-bottom: 10px;
  color: #edebda;
}
