@import url("https://use.typekit.net/sif5fhl.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

@import "../bootstrap/functions";
@import "../bootstrap/variables";
@import "../bootstrap/mixins";

body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.tile-bg {
  background: #fff url("/assets/images/subway-tile-bg.jpg") repeat;
  height: auto;
  background-attachment: fixed;
}

/*navigation mobile-first*/
main {
  margin-top: 10%;
}

.navbar {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  background: #edebda;
  border-top: 1px solid #412312;
}

.nav-text-custom {
  font-size: 14px;
}

.icon-size-custom {
  font-size: 30px;
}

.nav-link {
  color: #412312;
  &:hover {
    color: #f36c21;
  }
}

.active-custom {
  color: #00954c;
}

/* jumbotro customization */
.jumbotron {
  color: white;
  background-image: url("../assets/images/4dishes-commitment@2x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.section-1 {
}

/*social media icons*/
.social li {
  display: inline-block;
  color: #fff;
  margin: 0 5px 0 0;
}

.social a {
  font-size: 2rem;
  color: #edebda;
  padding: 0;
  border: none;
  &:hover {
    color: #ffcf01;
  }
}

/*footer customization*/
footer {
  background: #412413;
  height: auto;
  padding: 10px 0 30px 0;
  width: 100%;
}

.footer-brand {
  font-family: mostra-nuova, "montserrat", sans-serif;
  font-size: 3rem;
  color: rgba(0, 149, 76, 1);
}

footer ul {
  font-size: 13px;
  list-style-type: none;
}

.footer-bottom {
  margin-top: 2em;
  border-top: 1px solid #dddddd;
  padding-top: 20px;
  padding-bottom: 10px;
}
